.Body {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: '100vh';
    overflow: 'scroll initial';

  }

.proceed-btn {
  background: #121942;
  box-shadow: 0px 3.48276px 8.70691px rgb(16 156 241 / 24%);
  border-radius: 5px;
  padding: 0.5em 2em;
}

.proceed-txt {
  width: 49px;
  height: 15px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12.1897px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;

  /* white */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.concept-screen {
  box-sizing: border-box;
  background: #FFFFFF;
  padding: 1em;
}
.proceed-style {
  display: flex;
  justify-content: flex-end;
}
