.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 2em;
}
.product {
    width: 32%;
    margin-bottom: 1em;
}
