.office-details {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
    margin-right: 2em;
}
.office-details:after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: solid 1px #ccc;
    width: 1px;
    right: -2em;
}
.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around



}
