.color-nav {
    position: relative;
    background-color: #E9EDF3;
    margin-bottom: 20px;
    height: 80px;
}

.title {
    position: relative;
    margin-left: 10px;
    margin-top: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #323C47;
}

#box {
    position: relative;
    left: 1.83%;
    right: 92.74%;
    top: 60%;
    bottom: 0%;
    width: 100px;
    height: 50px;
    background: #FDFDFD;
    border-radius: 10px 10px 0px 0px;
}

