.sidebar{
    position: relative;
    width: 61px;
    height: 850px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    /* Brand Color 1 */

    background: #121942;
    box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.1);
}