.office-area-config {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C2CFE0;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 5%);
    border-radius: 5px;
    margin-bottom: 35px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 1em;
}


.configure-text {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
.configure-subtext {
    font-weight: 300;
    font-size: 12px;
    color: #323C47;
    margin-top: 1em;
}
.total-area {
    font-weight: 700;
    font-size: 14px;
    color: #192A3E;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    height: 100px;
    align-items: center;
    margin: 0 2em;
    margin-top: 1em;
}
.total-area:after {
    content: '';
    position: absolute;
    width: 2px;
    border: solid 1px #ccc;
    left: 50%;
    height: 100%;
}
.total-area-text {

}
.area-input {
    min-width: 100px;
    border: none;
}
.editable-total-area, .total-configured-area {
    flex: 1 0 auto;
}
.total-configured-area {
    font-weight: 700;
    font-size: 24px;
    color: #2ED47A;
}
.area-unit {
    font-size: 11px;
    color: #ccc;
    font-weight: normal;
}

.remaining-area {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #2ED47A;
}

.more-area-remaining {
    background: #2ED47A;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 0.25em;
    margin-top: 1em;
}
input {
    border: 1px solid blue;
    display: inline-block;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 2em;
    line-height: inherit;
    vertical-align: inherit;
    text-align: right;
    color: inherit;
    font: inherit;
    background: none;
  }

  input[disabled] {
    border: 0;
  }

  a { cursor: pointer; text-decoration: none; }
