.container-1 {
    display: flex;
    flex-direction: row;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 10px;
    position: relative;
    width: 327.78px;
    height: 48px;
    left: calc(50% - 327.78px/2 - 471.11px);

    background: #FFFFFF;
    /* Drop Down Shadow */

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.new-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 817px;
    position: relative;
    width: 199.44px;
    height: 40px;
    right: 15.56px;

    background: #60D1D0;
    box-shadow: 0px 3.55556px 8.88889px rgba(16, 156, 241, 0.24);
    border-radius: 5px;
}

.new-project-text {
    width: 106px;
    height: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12.4444px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;

    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.new-project-plus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 15px;
    /* identical to box height */

    margin-left: 40px;
    letter-spacing: 0.04em;

    /* white */

    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.project-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    margin-left: 10px;
    color: #000000;
}

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    margin-left: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    /* Brand Color 2 */

    color: #60D1D0;
}